* {
    margin: 0;
    padding: 0;
}

.main-wrapper {
    padding: 10px;
}

.interface {
    border: 1px solid red;
    display: flex;
    height: 80vh;
}

.usersList {
    border: 1px solid black;
    width: 30%;
}

.messages {
    border: 1px solid green;
    width: 100%;
}

.messages .messages-list {
    flex-grow: 9;
    height: 95%;
    border: 1px solid black;
}

.messages .input {
    flex-grow: 1;
    height: 5%;
    display: flex;
    flex-direction: row;
}

.messages .input input {
    flex-grow: 12;
    height: 100%;
}

.messages .input label {
    flex-grow: 1;
}

span {
    color: red;
}

li {
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
}