doctype html
html(lang="en")
    head
        title="Espace admin"
        script(src='/js')
    
    body
        h1="Bonjour admin"
        p="Vous pouvez envoyer votre message à tous les utilisateurs actuels du site wordpress :"
        input(type="text", name="title", class="input-text")
        input(type="submit", value="Envoyer le message", class="send")
        h2="Conversations ouvertes"
        div(class="conversations")